In [54]:
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.datasets import load_digits
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [55]:
df=pd.read_csv(r'D:/data_analysis/spam_or_not_spam.csv')

In [56]:
df.sample(4)

                                                  email  label
2091  url URL date not supplied slashdot s reporting...      0
87    i need to setup a vpn between a few sites from...      0
1924  url URL date NUMBER NUMBER NUMBERtNUMBER NUMBE...      0
2899  our delightful garden ornaments combine the fi...      1

In [57]:
df.shape

(3000, 2)

In [58]:
df.isnull().sum()

email    1
label    0
dtype: int64

In [59]:
df.dropna(inplace=True)

In [60]:
df.duplicated().sum()

127

In [61]:
df=df[df.duplicated()==False]
df

                                                  email  label
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1     martin a posted tassos papadopoulos the greek ...      0
2     man threatens explosion in moscow thursday aug...      0
3     klez the virus that won t die already the most...      0
4      in adding cream to spaghetti carbonara which ...      0
...                                                 ...    ...
2995   abc s good morning america ranks it the NUMBE...      1
2996   hyperlink hyperlink hyperlink let mortgage le...      1
2997   thank you for shopping with us gifts for all ...      1
2998   the famous ebay marketing e course learn to s...      1
2999   hello this is chinese traditional 子 件 NUMBER世...      1

[2872 rows x 2 columns]

In [62]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.email,df.label,test_size=0.2)

In [63]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()

In [64]:
x_train_vector=v.fit_transform(x_train.values)

In [65]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_vector,y_train)

MultinomialNB()

In [66]:
from sklearn.metrics import accuracy_score
x_test_update=v.transform(x_test)

In [67]:
y_pred=model.predict(x_test_update)

In [68]:
accuracy_score(y_test,y_pred)

0.9930434782608696